Repository 0xangelo/raylab: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-main, pylint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      # https://github.com/pre-commit/pre-commit-hooks/blob/master/README.md
      hooks:
      - id: check-added-large-files     # Prevent giant files from being committed.
        stages: [commit, push]
      - id: check-ast                   # Simply check whether files parse as valid python.
        stages: [commit, push]
      - id: check-byte-order-marker     # Forbid files which have a UTF-8 byte-order marker
        stages: [commit, push]
      - id: check-docstring-first       # Checks for a common error of placing code before the docstring.
        stages: [commit, push]
        exclude: raylab/cli/
      - id: check-executables-have-shebangs # Checks that non-binary executables have a proper shebang.
        stages: [commit, push]
      - id: check-json                  # Attempts to load all json files to verify syntax.
        stages: [commit, push]
      - id: check-merge-conflict        # Check for files that contain merge conflict strings.
        stages: [commit, push]
      - id: check-symlinks              # Checks for symlinks which do not point to anything.
        stages: [commit, push]
      - id: check-vcs-permalinks        # Ensures that links to vcs websites are permalinks.
        stages: [commit, push]
      - id: check-xml                   # Attempts to load all xml files to verify syntax.
        stages: [commit, push]
      - id: check-yaml                  # Attempts to load all yaml files to verify syntax.
        stages: [commit, push]
      - id: debug-statements            # Check for debugger imports and py37+ breakpoint() calls in python source.
        stages: [commit, push]
      - id: detect-private-key          # Checks for the existence of private keys.
        stages: [commit, push]
      - id: end-of-file-fixer           # Makes sure files end in a newline and only a newline.
        stages: [commit, push]
      - id: forbid-new-submodules       # Prevent addition of new git submodules.
        stages: [commit, push]
      - id: mixed-line-ending           # Replaces or checks mixed line ending.
        stages: [commit, push]
      - id: pretty-format-json          # Checks that all your JSON files have keys that are sorted and indented.
        stages: [commit, push]
      - id: trailing-whitespace         # Trims trailing whitespace.
        stages: [commit, push]

    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.3
      hooks:
      - id: flake8
        stages: [commit, push]

    - repo: https://github.com/pycqa/isort
      rev: 5.8.0
      hooks:
      - id: isort
        name: isort (python)
        stages: [commit, push]
      - id: isort
        name: isort (cython)
        types: [cython]
        stages: [commit, push]
      - id: isort
        name: isort (pyi)
        types: [pyi]
        stages: [commit, push]

    - repo: https://github.com/python/black
      rev: 20.8b1
      hooks:
      - id: black
        stages: [commit, push]
        args: [--check]

    - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
      rev: v3.0.0
      hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

    - repo: local
      hooks:
      - id: pylint-main
        name: Pylint main
        entry: pylint
        language: system
        types: [python]
        stages: [commit]
        args: ["-d similarities,abstract-method,missing-function-docstring"]
        files: ^raylab/

    - repo: local
      hooks:
      - id: pylint-test
        name: Pylint test
        entry: pylint
        language: system
        types: [python]
        stages: [commit]
        args: [--rcfile=tests/pylintrc, "-d similarities,abstract-method,missing-function-docstring"]
        files: ^tests/

chore(envs): remove LQR
  raylab/envs/environments/lqr/__init__.py
  raylab/envs/environments/lqr/generators.py
  raylab/envs/environments/lqr/simulator.py
  raylab/envs/environments/lqr/solver.py
  raylab/envs/environments/lqr/types.py
  tests/raylab/envs/environments/lqr/__init__.py
  tests/raylab/envs/environments/lqr/test_generators.py
  tests/raylab/envs/environments/lqr/test_solver.py
Due: pylint-main, pylint-test

chore(deps-dev): add pytest-deadfixtures
  poetry.lock
  pyproject.toml
Due: none

test(agents): remove dead fixtures
  tests/raylab/agents/conftest.py
Due: pylint-test

test: remove dead fixtures
  tests/raylab/agents/mbpo/conftest.py
  tests/raylab/agents/mbpo/test_policy.py
  tests/raylab/agents/sac/__init__.py
  tests/raylab/agents/sac/conftest.py
  tests/raylab/agents/svg/__init__.py
  tests/raylab/agents/svg/conftest.py
  tests/raylab/agents/test_trainer.py
  tests/raylab/envs/wrappers/test_correlated_irrelevant.py
  tests/raylab/envs/wrappers/test_linear_redundant.py
  tests/raylab/envs/wrappers/test_mixins.py
  tests/raylab/envs/wrappers/test_nonlinear_redundant.py
  tests/raylab/envs/wrappers/test_random_irrelevant.py
  tests/raylab/policy/conftest.py
  tests/raylab/policy/losses/test_dyna.py
  tests/raylab/policy/losses/test_mage.py
  tests/raylab/policy/modules/conftest.py
  tests/raylab/torch/conftest.py
  tests/raylab/torch/nn/actor/test_stochastic.py
  tests/raylab/torch/nn/conftest.py
  tests/raylab/utils/test_exp_data.py
Due: pylint-test

test(torch): suppress actor warnings
  tests/raylab/torch/nn/actor/test_deterministic.py
Due: pylint-test

test(torch): test unclipped outputs gradient propagation
  tests/raylab/torch/nn/modules/test_normalized_linear.py
Due: pylint-test

refactor: move TensorDict type to torch subpackage
  raylab/agents/naf/policy.py
  raylab/agents/sac/policy.py
  raylab/agents/sop/policy.py
  raylab/agents/svg/inf/policy.py
  raylab/agents/svg/one/policy.py
  raylab/agents/svg/soft/policy.py
  raylab/agents/td3/policy.py
  raylab/policy/losses/abstract.py
  raylab/policy/losses/dyna.py
  raylab/policy/losses/isfv_iteration.py
  raylab/policy/losses/mage.py
  raylab/policy/losses/maximum_entropy.py
  raylab/policy/losses/mle.py
  raylab/policy/losses/policy_gradient.py
  raylab/policy/losses/q_learning.py
  raylab/policy/losses/svg.py
  raylab/policy/losses/utils.py
  raylab/policy/model_based/lightning.py
  raylab/policy/off_policy.py
  raylab/policy/torch_policy.py
  raylab/torch/nn/model/stochastic/ensemble.py
  raylab/torch/nn/model/stochastic/single.py
  raylab/torch/types.py
  raylab/utils/types.py
Due: pylint-main

chore(deps): add nnrl
  poetry.lock
  pyproject.toml
Due: none

chore: filter warnings that won't be addressed
  pyproject.toml
  raylab/utils/lightning.py
  tests/raylab/policy/model_based/test_lightning.py
Due: pylint-main, pylint-test

refactor(policy): streamline TorchPolicy and free functions
  raylab/policy/torch_policy.py
Due: pylint-main

chore(deps): support ray-1.5.1
  raylab/options.py
  raylab/policy/torch_policy.py
Due: pylint-main

chore: bump version minor
  pyproject.toml
Due: none

chore(policy): update TorchPolicy for ray-1.6.0
  raylab/policy/torch_policy.py
Due: pylint-main

chore: update .idea
  .idea/raylab.iml
Due: none

chore: disable dependabot updates for pip
  .github/dependabot.yml
Due: none

chore: bump version patch
  pyproject.toml
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none
